.order-area {

}
.text-area {
    
}

.btn {
            

  background-color: #FBA24F; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px 10px ;
  
} 
.order-iamge {

}
.about-area {

}
.about-image {

}
.about-text {
    
}

